:root {
    --dark: #13293d;
    --light: #48D1CC;
    /* --light: #92cccd;*/
    --distance: 75px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    background-color: #ededf7;
}

/*header heading and navigation bar styles*/
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--dark);

}

header h1 {
    padding: 5px 5px 5px var(--distance);
    background-color: var(--light);
    color: var(--dark);
}

header nav {
    margin-right: var(--distance);
    align-self: center;
}

header a {
    display: inline;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;
    color: var(--light);
    border-bottom: solid 3px var(--light);

}

/*section of my photo or avatar */
.intro {
    position: relative;
    color: var(--dark);
    text-align: end;
}

.intro img {
    opacity: 0.7;
}

.intro .subtitle {
    font-size: 24px;
    padding: 5px 5px 5px 35px;
    background-color: var(--light);
    position: absolute;
    right: var(--distance);
    bottom: 40px;
}

/*section about me, my work and contact*/

.row {
    display: flex;
    margin: 50px 0px;
    min-height: 100px;
    color: #4c6079;
}

.col-left {
    width: 10%;
    min-width: 100px;
    margin-left: var(--distance);
    border-right: solid 3px var(--dark);

    float: left;
    display: flex;
    justify-content: flex-end;
}

.col-left h1 {
    margin-right: 10px;
    text-align: end;
}

.col-right {
    width: 80%;
    margin-left: 20px;
    margin-right: var(--distance);
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#description {
    flex-direction: column;
    justify-content: flex-start;
}

.col-right h5 {
    font-size: 8px;
    margin-top: 3px;
}


.col-right img {
    max-width: 100%;
    border: solid 2px var(--light);
    
}


.card:nth-child(n+2) {
    width: 49.8%;
}

.card {
    position: relative;
}

.card div {
    background-color: var(--light);
    display: inline-block;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

.col-right nav {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.col-right nav a {
    color: var(--dark);
    padding: 5px;
    text-decoration: none;
    border-bottom: solid 3px #4c6079;

}

/*Pseudo elements*/

header a:hover {
    background-color: var(--light);
    color: var(--dark);
    transition: all 1s;
}

.col-right img:hover {
    opacity: 0.9;
}

.subtitle::after {
    content: '👋';
    display: block;
    position: absolute;
    bottom: 5px;
    right: 170px;
    display: none;
}

.subtitle:hover::after {
    display: block;
}

/*Media Query responsive design*/

@media screen and (max-width: 768px) {
    .col-right {
        flex-direction: column;
    }

    .card:nth-child(n+2) {
        width: 100%;
    }

    .col-right nav {
        flex-direction: column;
        align-items: flex-start;
    }

}